.sk-swing {
    width: 22px !important;
    height: 22px !important;
}

.sk-swing-dot {
    background-color: white !important;
    /* animation: sk-swing-dot 0.25s infinite ease-in-out !important;  */
}

.sk-swing-dot:nth-child(2) {
    /* animation-delay: -0.125s !important;  */
}