<div class="mt-3">
    <h1>Test component</h1>
    <div>
        <img style="max-height: 200px;" [src]="imgPath" alt="test image" class="img-fluid">
    </div>
    <div>
        <p>{{textTest1()}}</p>
        <p>{{textTest2()}}</p>
        <button class="button is-primary mt-3" (click)="onTest1()">Detect Changes</button>
    </div>
    <div>
        <ul>
            <li>
                <app-item-test [id]="items[0].id" [name]="items[0].name" (itemClicked)="onItemClick($event)" />
            </li>
            <li>
                <app-item-test [id]="items[1].id" [name]="items[1].name" (itemClicked)="onItemClick($event)" />
            </li>
            <li>
                <app-item-test [id]="items[2].id" [name]="items[2].name" (itemClicked)="onItemClick($event)" />
            </li>
        </ul>
    </div>
</div>