<div class="mt-3">
    <h1>Test component</h1>
    <div>
        <img style="max-height: 200px;" [src]="imgPath" alt="test image" class="img-fluid">
    </div>
    <div>
        <p>{{textTest1()}}</p>
        <p>{{textTest2()}}</p>
        <button class="button is-primary mt-3" (click)="onTest1()">Detect Changes</button>
    </div>
    <div>
        <div>
            <button class="button is-warning mt-3" (click)="onAddItem()">Add item</button>
        </div>
        <div>
            @if (isAddingNewItem) {
                <app-new-item-test (saveNewItem)="onNewItemAdded($event)" />
            }
        </div>
        <ul>
            @for (item of items; track item.id) {
                <li>
                    <app-item-test [itemTest]="item" (itemClicked)="onItemClick($event)" (itemDeleted)="onItemDelete($event)" />
                </li>
            }
        </ul>
        <ul>
            @for (item of learningTestService.items(); track item.id) {
                <li>
                    <app-item-test [itemTest]="item" />
                </li>
            }
        </ul>
    </div>
    <div class="mt-3">
        <app-shared-advertisement-test>
            <p>This is content projected into the advertisement component, only use for testing purposes.</p>
        </app-shared-advertisement-test>
    </div>
    <div class="mt-3">
        <!-- <button appButtonTest>
            Button
            <span class="my-icon">👊</span>
        </button>
        <button appButtonTest class="ml-2">
            Button
            <span class="my-icon">✋</span>
        </button> -->
        <button appButtonTest class="ml-2">
            Button
            <span ngProjectAs="my-icon-2">✋</span>
        </button>
    </div>
    <div class="mt-3">
        <app-control-test label="Title">
            <input class="input is-primary custom-purple" type="text" placeholder="Title" />
        </app-control-test>
        <app-control-test label="Request">
            <textarea class="input is-primary custom-purple" placeholder="Request"></textarea>
        </app-control-test>
    </div>
    <div class="mt-3">
        <app-control-2-test />
    </div>
    <div class="mt-3">
        <button class="button is-primary" (click)="onRandomNumberForTest3()">Random number</button>
        <button class="button is-danger" (click)="onDestroyTest3()">Destroy component</button>
        @if (isTest3Visible()) {
            <app-control-3-test [textTest3]="textTest3()" />
        }
    </div>
    <div class="mt-3">
        <app-template-var-test />
    </div>
    <div class="mt-3">
        <app-signal-effect-test />
    </div>
    <div class="mt-3">
        <app-for-loop-test />
    </div>
    <div class="mt-3">
        <ul>
            <li>
                <a href="https://google.com.vn" appSafeLink>Test link</a>
            </li>
        </ul>
    </div>
</div>